<h1>List of Animals</h1>

<a href="/animals/new"><button>List an Animal</button></a>

<% animals.forEach((animal, index) => { %>
<a href="/animals/<%=animal._id%>"><h2><%=animal.species%></h2></a>

<% }) %>
