<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Animal Lab</title>
</head>
<body>
  
  <h1>List an Animal</h1>

<form action="/animals" method="POST">
  <div>
    <label for="newName"> Name:  </label>
  <input type="text" id="newName" name="species" placeholder="Beaver" /> 
</div>

<br>

<div>
  <label for="newLocation"> Location:  </label>
  <input type="text" id="newLocation" name="location" placeholder="North America" />
  </div>

  <br>
  <div>
  <label for="newLife"> Life Expectancy  </label>
  <input type="text" id="newLife" name="lifeExpectancy" placeholder="12 Years" />
  </div>

<br>

<div>
  <label for="newExtinct"> Extinct:  </label>
  <input type="checkbox" id="newExtinct" name="extinct" />
</div>

<br><br>

<div>
  <input type="reset">
  <input type="submit" value="Add" />
</div>
</form>

<a href="/animals"> <h4>Back To Main Page</h4></a>
</body>
</html>