<h1>List an Animal</h1>

<form action="/animals" method="POST">
  name:<input type="text" name="species" placeholder="species" /> extinct:
  <input type="checkbox" name="extinct" /> location:
  <input type="text" name="location" placeholder="place" /> lifeExpectancy:
  <input type="text" name="lifeExpectancy" placeholder="species" />
  <input type="submit" value="Add" />
</form>
